h1 {
    color: rgb(188, 108, 55);
    text-align: center;
}

h2 {
    color: rgb(23, 79, 122);
    text-align: center;
}

img {
    max-width: 100%;
}


.Bangkok{
    margin-left: 30px;
    margin-right: 30px;
    width:auto;
    height:400px;

}

.temple{
    width:300px;
    height:400px;

}

.iconsiam{
    margin-left: 30px;
    width:475px;
    height:400px;

}

.cityboat{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width:auto;
    height:400px;

}
.food{
    width:300px;
    height:400px;

}